body {
    font-family: Arial, sans-serif;
    background-color: #e0ebfa;
    margin: 0;
    padding: 0;
    color: #00314d;
    flex-direction: column;
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #406080;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 20px;
    margin: 0;
}
nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons a:hover {
    background-color: white;
    color: #406080;
}

footer {
    background-color: #406080;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer .links {
    display: flex;
    gap: 10px;
}

footer a {
    color: lightblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}